/* Common Main Colors */
$background-color: #f8fafc;
$container-background-color: #eef3f7;
//$container-background-color: rgb(215, 237, 245);
$container-border-color: #e5e5e5;
$white-color: #ffffff;
$color-white: #ffffff;
$black-color: #000000;
$color-black: #000000;
$hyperlink-text-color: #2055b5;
$primary-text-color: #666666;
$secondary-text-color: #333333;
/* Common Main Colors */

/* Heading - Colors */
$primary-heading-text-color: #2055b5;
/* Heading - Colors */

/* Main-Tab */
$main-tab-text-active-color: #2055b5;
$main-tab-text-inactive-color: #666666;
/* Main-Tab */

/* Folder - Tab */
$folder-tab-inactive-background: #f9f9f9;
$folder-tab-active-background: #ffffff;
/* Folder - Tab */

/* mini - Tab */
$button-tab-active-background-color: #2055b5;
$mini-tab-border-color: #6e90cf;
/* mini - Tab */

/* Form - fields */
$input-field-border: #dddddd;
$input-text-placeholder: #999999;
$primary-btn-color: #2055b5;
/* Form - fields */

/* Status colors */
$dev-status-done-color: rgb(0, 255, 0);
$dev-status-wip-color: orange;
$dev-status-pending-color: red;

$container-border-color: #e5e5e5;
$primary-text-color: #666666;